<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Actors -->
      <package
            uri="com.nukulargames/gdx4e/actors"
            class="com.nukulargames.gdx4e.actors.ActorsPackage"
            genModel="model/Actors.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="com.nukulargames.gdx4e.actors.impl.custom.ActorsFactoryImplCustom"
            uri="com.nukulargames/gdx4e/actors">
      </factory>
   </extension>

</plugin>
